<script>
  $("title").html("Properties for {{ensemble.name}}");
</script>
<style>
  span.lowcontrast{
    color: #a0a0a0;
  }
  div.section{
    color: #404040;
    margin-left: 30px;
  }
  table{
    border-spacing: 15px 3px;
  }
  .tablesorter-default .header,
  .tablesorter-default .tablesorter-header {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.3/css/images/black-unsorted.gif);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 15px 4px 0px;
  }
  .tablesorter-default thead .headerSortUp,
  .tablesorter-default thead .tablesorter-headerSortUp,
  .tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.3/css/images/black-asc.gif);
  }
  .tablesorter-default thead .headerSortDown,
  .tablesorter-default thead .tablesorter-headerSortDown,
  .tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.3/css/images/black-desc.gif);
  }
  .tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
  }
</style>

<h1>Users of {{ensemble.name}}</h1>

<h2>{{memberships.length}} registered users</h2>
<div class='section'>
  <p>The following users have fully registered: Either by accepting an invite or by [using the class' subscribe link and confirming their email]</p>
  <table id='reg'>
    <thead>
      <tr>
        <th>First Name</th><th>Last Name</th><th>Email</th><th>Role</th><th>Section</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each memberships}}
        <tr>
          <td>{{#if firstname}}{{firstname}}{{else}}<span class="lowcontrast">-</span>{{/if}}</td>
          <td>{{#if lastname}}{{lastname}}{{else}}<span class="lowcontrast">-</span>{{/if}}</td>
          <td>{{email}}</td>
          <td>{{#if admin}}staff{{else}}<span class='lowcontrast'>student</span>{{/if}}</td>
          <td>
            <form method="POST" action="?action=setsection&membership_id={{membership_id}}">
            <select name="section_id" data_membership_id="{{membership_id}}">
              <option value="None" {{#unless section}} selected="selected" {{/unless}}>No Section</option>
              {{#each ../sections}}
                <option value="{{ID}}" {{#equal ../section name}}selected="selected"{{/equal}}>{{name}}</option>
              {{/each}}
            </select><noscript><input type="submit" value="Change" /></noscript>
            </form>
          </td>
            <td><a style='margin-right: 10px' href='?action=delete&membership_id={{membership_id}}'>Delete</a>
              {{#equal admin true}}
                <a href='?action=unadmin&membership_id={{membership_id}}'>Remove staff status</a>
              {{else}}
                <a href='?action=admin&membership_id={{membership_id}}'>Add staff status</a>
              {{/equal}}
            </td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>
<h2>{{pendinginvites.length}} pending invitations</h2>
<div class='section' >
  <p>The following users have been sent an invite but haven't yet replied to it. If you notice that the invite has been sent a long time ago, it might a good idea to check if you have the correct email for those users or ask them to check their spam folders (NB invites sometimes get blocked by spam programs) </p>
  <table id='pendingInvites'>
    <thead>
      <tr><th>Email</th><th>Role</th><th>Section</th></tr>
    </thead>
    <tbody>
    {{#each pendinginvites}}
      <tr>
        <td>{{email}}</td>
        <td>{{#equal admin true}}staff{{else}}<span class='lowcontrast'>student</span>{{/equal}}</td>
        <td>{{section}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

{{#if pendingconfirmations}}
<h2>{{pendingconfirmations.length}} pending email confirmations</h2>
<div class='section'>
  <p>The following users have used the subscribe link but haven't confirmed their email yet.</p>
  <table id='pendingConf'>
    <thead>
      <tr><th>First Name</th><th>Last Name</th><th>Email</th></tr>
    </thead>
    <tbody>
      {{#each pendingconfirmations}}
        <tr>
          <td>{{#if firstname}}{{firstname}}{{else}}<span class="lowcontrast">-</span>{{/if}}</td>
          <td>{{#if lastname}}{{lastname}}{{else}}<span class="lowcontrast">-</span>{{/if}}</td>
          <td>{{email}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}

{{#if deleted_memberships}}
<h2>{{deleted_memberships.length}} deleted memberships</h2>
<div class='section'>
  <p>The following users have been removed from this group.</p>
  <table id='pendingConf'>
    <thead>
      <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Role</th><th>Actions</th></tr>
    </thead>
    <tbody>
      {{#each deleted_memberships}}
        <tr>
          <td>{{#if firstname}}{{firstname}}{{else}}<span class="lowcontrast">-</span>{{/if}}</td>
          <td>{{#if lastname}}{{lastname}}{{else}}<span class="lowcontrast">-</span>{{/if}}</td>
          <td>{{email}}</td>
          <td>{{#equal admin true}}staff{{else}}<span class='lowcontrast'>student</span>{{/equal}}</td>
          <td><a href='?action=undelete&membership_id={{membership_id}}'>Undelete</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}