<script>
  $("title").html("Welcome to NB");
</script>
<style>
  ul.errorlist{
    color: #ff0000;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p.important{
    font-weight: large;
    font-color: #770000;
  }
</style>

<h1>Confirm subscription to <i>{{class_settings.name}}</i></h1>

<p class="important">If you're already an NB user, please use <a href="/login?next=/subscribe?key={{class_settings.invitekey}}">this link instead</a></p>

<div>
  <form class="confirm-new-user" action="" method="post">
    <h2>About yourself...</h2>
    <table>
      <tbody>
        <tr>
          <td><label for="id_firstname">Firstname:</label></td>
          <td><input id="id_firstname" maxlength="63" name="firstname" type="text" value="{{form.data.firstname}}"></td>
          {{#if form.errors.firstname}}
          <td>
            <ul class="errorlist">
              {{#each form.errors.firstname}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
          {{/if}}
        </tr>
        <tr>
          <td><label for="id_lastname">Lastname:</label></td>
          <td><input id="id_lastname" maxlength="63" name="lastname" type="text" value="{{form.data.lastname}}"></td>
          {{#if form.errors.lastname}}
          <td>
            <ul class="errorlist">
              {{#each form.errors.lastname}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
          {{/if}}
        </tr>
        <tr>
          <td><label for="id_email">Email:</label></td>
          <td><input id="id_email" maxlength="63" name="email" type="email" value="{{form.data.email}}"></td>
          {{#if form.errors.email}}
          <td>
            <ul class="errorlist">
              {{#each form.errors.email}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
          {{/if}}
        </tr>
        <tr>
          <td><label for="id_password">Password:</label></td>
          <td><input id="id_password" maxlength="63" name="password" type="password"></td>
          {{#if form.errors.password}}
          <td>
            <ul class="errorlist">
              {{#each form.errors.password}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
          {{/if}}
        </tr>
        <tr>
          <td><label for="id_confirm_password">Confirm password:</label></td>
          <td><input id="id_confirm_password" name="confirm_password" type="password"></td>
          {{#if form.errors.confirm_password}}
          <td>
            <ul class="errorlist">
              {{#each form.errors.confirm_password}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
          {{/if}}
        </tr>
      </tbody>
    </table>
    {{#if form.non_field_errors}}
    <ul class="errorlist nonfield">
      {{#each form.non_field_errors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <p>Click on the "Confirm" button to create your NB user and subscribe to the NB group <i>Class1</i>
    </p>
    <p><input style="margin-top: 10px;" type="submit" value="Confirm"></p>
  </form>
</div>